{% extends "index.html" %}

<!-- Replace Title -->
{% block pageTitle %}
Add Item to Catalog
{% endblock %}

<!-- Replace Content -->
{% block content %}
	<p class="row">
		<a href="{{url_for('adminViewAddBook')}}" class="admin-view-link col-sm-4">
			Add Book Entry
		</a>
  </p>
   <p class="row">
		<a href="{{url_for('adminViewAddMovie')}}" class="admin-view-link col-sm-4">
			Add Movie Entry
		</a>
	</p>
	<p class="row">
		<a href="{{url_for('adminViewAddMagazine')}}" class="admin-view-link col-sm-4">
				Add Magazine Entry
		</a>
	</p>
  <p class="row">
		<a href="{{url_for('adminViewAddAlbum')}}" class="admin-view-link col-sm-4">
			Add Album Entry
		</a>
  </p>
    
{% endblock %}

