{% extends "index.html" %}

<!-- Replace Title -->
{% block pageTitle %}
Modify a Movie
{% endblock %}

<!-- Replace Content -->
{% block content %}
{% if errorMessage %}
	<div class="alert alert-danger" role="alert"> {{ errorMessage }}
    </div>
{% endif %}
<div class="card">
    <div class="card-body">
		<form action="#" method="post">
		  <legend class="text-center pb-4"> Modify Movie </legend>
		  <div class="form-group">
		    <label for="title">Title</label>
		    <input type="text" class="form-control" name="title" value="get title here" >
		  </div>
		  <div class="form-group">
		    <label for="director">Director</label>
		    <input type="text" class="form-control" name="director" value="get director here">
		  </div>
		  <div class="form-group">
		    <label for="producers">Producers</label>
		    <input type="text" class="form-control" name="producers" value="get producers here" >
		  </div>
		  <div class="form-group">
		    <label for="actors">Actors</label>
		    <input type="text" class="form-control" name="actors" value="get actors here">
		  </div>
		  <div class="form-group">
		    <label for="language">Language</label>
		    <input type="text" class="form-control" name="language" value="get language here">
		  </div>
		  <div class="form-group">
		    <label for="subtitles">Subtitles</label>
		    <input type="text" class="form-control" name="subtitles" value="get subtitles here">
		  </div>
			<div class="form-group">
		    <label for="dubbed">Dubbed</label>
		    <input type="text" class="form-control" name="dubbed" value="get dubbed here">
		  </div>
			<div class="form-group">
		    <label for="release_date">Release Date</label>
		    <input type="text" class="form-control" name="release_date" value="get release_date here">
		  </div>
            <div class="form-group">
		    <label for="run_time">Runtime</label>
		    <input type="text" class="form-control" name="run_time" value="get run_time here">
		  </div>
		  <button type="submit" name="save" class="btn btn-primary">Save</button>
			<form action="#" method="post">
				<button type="submit" name="delete" class="btn btn-danger">Delete</button>
			<a href="#" class="btn btn-info">Cancel</a>
			</form>

		</form>
    </div>
</div>
{% endblock %}

