<div>
    <div class="card" style="width: 100%">
        <div class="card-body">
            <button type="button" class="close" aria-label="Close" data-toggle="collapse" data-target="#book-search-box">
                <span aria-hidden="true">&times;</span>
            </button>
            <h5 class="text-info font-weight-light text-center ">Advanced Search</h5>
            <hr>
            <div class="row">
                <div class="col-6">
                    <p class="text-monospace bold"> Filter Books By</p>
                    {% for book_filter in filters %}
                    <div class="form-group row">
                        <label for="{{ book_filter }}" class="col-md-3 offset-md-1 col-form-label text-monospace">{{
                            book_filter }}</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control form-control-sm" id="{{ book_filter }}" placeholder="">
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="col-6">
                    <p class="text-monospace bold"> Sort Books By</p>
                    <div class="form-group row">
                        <label class="col-md-3 offset-md-1 col-form-label text-monospace" for="sel1">Select list:</label>
                        <div class="col-md-6">
                            <select name="sort_attr" class="form-control form-control-sm" id="sel1">
                                <option></option>
                                {% for book_sorting_criteria in sorting_criteria %}
                                <option>{{ book_sorting_criteria }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="mb-3 mr-3 mt-0">
            <button type="submit" class="btn btn-outline-info float-right">Submit</button>
        </div>
    </div>
</div>