<form action="/viewCatalog/viewCatalogTab" method="POST">
    <div class="nav  nav-fill btn-group btn-group-lg justify-content-center" role="group" aria-label="Basic example">
        <button type="submit" name="catalog_type" value="1"" class=" btn btn-outline-info nav-item">
            <h5 class="font-weight-light ">Books</h5>
        </button>
        <button type="submit" name="catalog_type" value="2" class="btn btn-outline-info nav-item">
            <h5 class=" font-weight-light ">Movies</h5>
        </button>
        <button type="submit" name="catalog_type" value="4" class="btn btn-outline-info nav-item">
            <h5 class="font-weight-light ">Albums</h5>
        </button>
        <button type="submit" name="catalog_type" value="3" class="btn btn-outline-info nav-item">
            <h5 class=" font-weight-light ">Magazines</h5>
        </button>
    </div>
</form>