<ul class="nav nav-tabs nav-justified">
        <li class="nav-item">
            <a class="nav-link active" href="#Books" role="tab" data-toggle="tab"> Books </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#Movies" role="tab" data-toggle="tab"> Movies </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#Albums" role="tab" data-toggle="tab"> Albums </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#Magazines" role="tab" data-toggle="tab"> Magazines </a>
        </li>
</ul>