{% extends "index.html" %}

<!-- Replace Title -->
{% block pageTitle %}
Book
{% endblock %}

<!-- Replace Content -->
{% block content %}
{% if errorMessage %}
<div class="alert alert-danger" role="alert"> {{ errorMessage }}
</div>
{% endif %}
<div class="card">
    <div class="card-body">
        <form action="#" method="post">
            <input type="hidden" name="type" value="1">
            <legend class="text-center pb-4"> Add Book </legend>
            <div class="form-group">
                <label for="author">Author</label>
                <input type="text" class="form-control" name="author" placeholder="E.g. Anthony Smith" required>
            </div>
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" name="title" placeholder="E.g. Implemented systemic capacity" required>
            </div>
            <div class="form-group">
                <label for="format">Format</label>
                <input type="text" class="form-control" name="format" placeholder="E.g. Textbook" required>
            </div>
            <div class="form-group">
                <label for="pages">Pages</label>
                <input type="number" class="form-control" name="pages" placeholder="E.g. 200" step="1" pattern="\d+" required>
            </div>
            <div class="form-group">
                <label for="publisher">Publisher</label>
                <input type="text" class="form-control" name="publisher" placeholder="E.g. Underwood" required>
            </div>
            <div class="form-group">
                <label for="year_of_publication">Year of Publication</label>
                <input type="text" class="form-control" name="year_of_publication" placeholder="E.g. 1997" pattern="\d{4}" title="Please use 4 numbers" required>
            </div>
            <div class="form-group">
                <label for="language">Language</label>
                <input type="text" class="form-control" name="language" placeholder="E.g. English" required>
            </div>
            <div class="form-group">
                <label for="isbn_10">ISBN 10</label>
                <input type="text" class="form-control" name="isbn_10" placeholder="Format: 1-5106-7825-5" pattern="\d*-\d*-\d*-\d*" required>
            </div>
            <div class="form-group">
                <label for="isbn_13">ISBN 13</label>
                <input type="text" class="form-control" name="isbn_13" placeholder="Format: 978-0-327-03363-9" pattern="\d*-\d*-\d*-\d*-\d*" required>
            </div>
            <button type="submit" name="save" class="btn btn-info">Save</button>
            <form action="#" method="post">
                <a href="http://localhost:5000/viewCatalog" class="btn btn-danger">Cancel</a>
            </form>
        </form>
    </div>
</div>
{% endblock %}