{% extends "index.html" %}

<!-- Replace Title -->
{% block pageTitle %}
Add Entry to Catalog
{% endblock %}

<!-- Replace Content -->
{% block content %}
<p class="row">
    <a href="{{url_for('adminViewAddBook')}}" class="btn btn-outline-info btn-lg btn-block">
            Add Book Entry
        </a>
</p>
<p class="row">
    <a href="{{url_for('adminViewAddMovie')}}" class="btn btn-outline-info btn-lg btn-block">
            Add Movie Entry
        </a>
</p>
<p class="row">
    <a href="{{url_for('adminViewAddAlbum')}}" class="btn btn-outline-info btn-lg btn-block">
            Add Album Entry
        </a>
</p>
<p class="row">
    <a href="{{url_for('adminViewAddMagazine')}}" class="btn btn-outline-info btn-lg btn-block">
                Add Magazine Entry
        </a>
</p>
{% endblock %}