{% extends "index.html" %}

<!-- Replace Title -->
{% block pageTitle %}
Administrator Options
{% endblock %}

<!-- Replace Content -->
{% block content %}
	<p class="row">
		<a href="{{url_for('userCreator')}}" class="btn btn-outline-info btn-lg btn-block">
			Create User(s)
		</a>
	</p>
	<p class="row">
		<a href="{{url_for('adminViewUserRegistry')}}" class="btn btn-outline-info btn-lg btn-block">
			View User Registry
		</a>
	</p>
	<p class="row">
		<a href="{{url_for('viewCatalog')}}" class="btn btn-outline-info btn-lg btn-block">
			View Catalog
		</a>
	</p>
	
{% endblock %}