{% import '/includes/details_macro.html' as details %}

{% extends "index.html" %}

<!-- Replace Title -->
{% block pageTitle %}
Detail View
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-10 offset-1">
        <div class="card"> 
            <div class="card-body">
                    <div class="row">
                            <div class="col-9">
                                <div class="row">
                                    <div class="col-1">
                                        <button type="button" class="btn btn-outline-info disabled"> {{ record._id }} </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="float-right">
                                    <button type="button" class="btn btn-outline-info"><i class="fas fa-arrow-left"></i></button>
                                    <button type="button" class="btn btn-outline-info"><i class="fas fa-arrow-right"></i></button>
                                </div>
                            </div>
                        </div>
                        <hr>
                    {% if (catalog_type == 1) %}
                    {{ details.book('book', author=record._author, title=record._title,
                    format=record._format, pages=record._pages, publisher=record._publisher,
                    year_of_publication = record._year_of_publication, language = record._language, 
                    ISBN10 = record._ISBN10, ISBN13 = record._ISBN13 )}}

                    {% elif (catalog_type == 2) %}
                    {{ details.movie('movie', title=record._title, director=record._director,
                    producers=record._producers, actors=record._actors, language=record._language,
                    subtitles = record._subtitles, dubbed = record._dubbed, 
                    release_date = record._release_date, runtime = record._runtime )}}
                    {% endif %}
            </div>
        </div>
    </div>
</div>

<style>
    .title {
        font-size: 50px;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 4px;
        padding: 60px 0;
    }

    .font-1 {
        font-size: 40px;
        text-align: center;
        letter-spacing: 2px;
        padding: 60px 0;
    }

    .font-2 {
        font-size: 18px;
        font-weight: lighter;
        letter-spacing: 2px;
        text-align: center;
    }

    #details {
        letter-spacing: 2px;
        padding: 60px 0;
    }

    #details p {
        margin: 0;
    }

    #details .font-3 {
        text-transform: uppercase;
        font-size: 20px;
    }

</style>

{% endblock %}