{% extends "view_catalog.html" %}

{% block catalog_page %}
<form action="/viewCatalog/search" method="POST">
    <input type="hidden" name="catalog_type" value="4">
    <div class="my-4">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="" aria-label="album-search" aria-describedby="album-search-btn">
            <div class="input-group-prepend" id="album-search-btn">
                <button class="btn btn-outline-info" type="button">Search</button>
                <button class="btn btn-info" data-toggle="collapse" data-target="#album-search-box" type="button">
                    <i class="fas fa-plus"></i>
                </button>
            </div>
        </div>
        <div id="album-search-box" class="collapse">
            {% include '/includes/album_search_box.html' %}
        </div>
    </div>
</form>
<table class="table table-hover">
    <thead>
        <tr>
            <th></th>
            <th scope="col"> ID </th>
            <th scope="col"> Type </th>
            <th scope="col"> Title </th>
            <th scope="col"> Artist </th>
            <th scope="col"> Label </th>
            <th scope="col"> Release Date </th>
            <th scope="col"> ASIN </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for catalog_item in records %}
        <tr>
            <form action="/viewCatalog/viewDetails" method="POST" id="record-tab">
                <input type="hidden" name="catalog_type" value="4">
                <input type="hidden" name="id" value="{{catalog_item._id}}">
                <td>
                    <button type="submit" class="btn btn-outline-secondary btn-sm" title="More Information">
                        <i class="fas fa-info"></i>
                    </button>
                </td>
                <td>{{catalog_item._id}}</td>
                <td>{{catalog_item._type}}</td>
                <td>{{catalog_item._title}}</td>
                <td>{{catalog_item._artist}}</td>
                <td>{{catalog_item._label}}</td>
                <td>{{catalog_item._release_date}}</td>
                <td>{{catalog_item._ASIN}}</td>
            </form>
            {% if g.user["_is_admin"] == 1 %}
            <td class="px-2">
                <form action="/adminView/modifyCatalogForm" method="post">
                    <input type="hidden" name="type" value="4">
                    <button type="submit" href="{{url_for('modify_catalog_form')}}" name="modify_catalog" value={{catalog_item._id}}
                        class="btn btn-info" style="cursor:pointer">
                        <i class="far fa-edit"></i>
                    </button>
                </form>
            </td>
            <td class="pl-0">
                <form action="/adminView/deleteViewRecords" method="post">
                    <input type="hidden" name="id" value="{{catalog_item._id}}">
                    <input type="hidden" name="type" value="4">
                    <button type="submit" class="btn btn-outline-info" style="cursor: pointer">
                        <i class="far fa-trash-alt"></i>
                    </button>
                </form>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}