{% extends "index.html" %}

<!-- Replace Title -->
{% block pageTitle %}
Catalog Viewer
{% endblock %}

<!-- Replace Content -->
{% block content %}
<div class="row">
    <div class="col-md-12">
        {% if g.user["_is_admin"] == 1 %}
        <div class="row">
            <div class="col-12">
                <a href="{{url_for('adminViewAddToCatalog')}}" class="btn btn-outline-info btn-lg btn-block" style="cursor:pointer">
                    Add Entry
                </a>
            </div>
        </div>
        {% endif %}
        <br>
        {% include '/includes/view_catalog_nav.html' %}

        <div class="tab-content">
            <div class="tab-pane active" role="tabpanel" id="Books">
                <form action="/viewCatalog/search" method="POST">
                    <input type="hidden" name="catalog_type" value="1">
                    <div class="my-4">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="" aria-label="book-search"
                                aria-describedby="book-search-btn">
                            <div class="input-group-prepend" id="book-search-btn">
                                <button class="btn btn-outline-info" type="button">Search</button>
                                <button class="btn btn-info" data-toggle="collapse" data-target="#book-search-box" type="button">
                                    <i class="fas fa-plus"></i>
                                </button>
                            </div>
                        </div>
                        <div id="book-search-box" class="collapse">
                            {% include '/includes/book_search_box.html' %}
                        </div>
                    </div>
                </form>

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th></th>
                            <th scope="col"> ID </th>
                            <th scope="col"> Author </th>
                            <th scope="col"> Title </th>
                            <th scope="col"> Format </th>
                            <th scope="col"> Pages </th>
                            <th scope="col"> Publisher </th>
                            <th scope="col"> Year of Publication </th>
                            <th scope="col"> Language </th>
                            <th scope="col"> ISBN10 </th>
                            <th scope="col"> ISBN13 </th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for key, catalog_item in dict_of_catalogs["books"].items() %}

                        <tr>
                            <form action="/viewCatalog/viewDetails" method="POST" id="record-tab">
                                <input type="hidden" name="catalog_type" value="1">
                                <input type="hidden" name="id" value="{{catalog_item._id}}">
                                <td>
                                    <button type="submit" class="btn btn-outline-secondary btn-sm" title="More Information">
                                        <i class="fas fa-info"></i>
                                    </button>
                                </td>
                                <td>{{catalog_item._id}}</td>
                                <td>{{catalog_item._author}}</td>
                                <td>{{catalog_item._title}}</td>
                                <td>{{catalog_item._format}}</td>
                                <td>{{catalog_item._pages}}</td>
                                <td>{{catalog_item._publisher}}</td>
                                <td>{{catalog_item._year_of_publication}}</td>
                                <td>{{catalog_item._language}}</td>
                                <td>{{catalog_item._ISBN10}}</td>
                                <td>{{catalog_item._ISBN13}}</td>
                            </form>

                            {% if g.user["_is_admin"] == 1 %}
                            <td class="px-2">
                                <form action="/adminView/modifyCatalogForm" method="post">
                                    <input type="hidden" name="type" value="1">
                                    <button type="submit" href="{{url_for('modify_catalog_form')}}" name="modify_catalog"
                                        value={{catalog_item._id}} class="btn btn-info" style="cursor:pointer">
                                        <i class="far fa-edit"></i>
                                    </button>
                                </form>
                            </td>
                            <td class="pl-0">
                                <form action="/adminView/deleteViewRecords" method="post">
                                    <input type="hidden" name="id" value="{{catalog_item._id}}">
                                    <input type="hidden" name="type" value="1">
                                    <button type="submit" class="btn btn-outline-info" style="cursor: pointer">
                                        <i class="far fa-trash-alt"></i>
                                    </button>
                                </form>
                            </td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="tab-pane" role="tabpanel" id="Movies">
                <form action="/viewCatalog/search" method="POST">
                    <input type="hidden" name="catalog_type" value="2">
                    <div class="my-4">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="" aria-label="movie-search"
                                aria-describedby="movie-search-btn">
                            <div class="input-group-prepend" id="movie-search-btn">
                                <button class="btn btn-outline-info" type="button">Search</button>
                                <button class="btn btn-info" data-toggle="collapse" data-target="#movie-search-box"
                                    type="button">
                                    <i class="fas fa-plus"></i>
                                </button>
                            </div>
                        </div>
                        <div id="movie-search-box" class="collapse">
                            {% include '/includes/movie_search_box.html' %}
                        </div>
                    </div>
                </form>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th></th>
                            <th scope="col"> ID </th>
                            <th scope="col"> Title </th>
                            <th scope="col"> Director </th>
                            <th scope="col"> Producers </th>
                            <th scope="col"> Actors </th>
                            <th scope="col"> Language </th>
                            <th scope="col"> Subtitle </th>
                            <th scope="col"> Dubbed </th>
                            <th scope="col"> Release Date </th>
                            <th scope="col"> Run Time </th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for key, catalog_item in dict_of_catalogs["movies"].items() %}
                        <tr>
                            <form action="/viewCatalog/viewDetails" method="POST" id="record-tab">
                                <input type="hidden" name="catalog_type" value="2">
                                <input type="hidden" name="id" value="{{catalog_item._id}}">
                                <td>
                                    <button type="submit" class="btn btn-outline-secondary btn-sm" title="More Information">
                                        <i class="fas fa-info"></i>
                                    </button>
                                </td>
                                <td>{{catalog_item._id}}</td>
                                <td>{{catalog_item._title}}</td>
                                <td>{{catalog_item._director}}</td>
                                <td>{{catalog_item._producers}}</td>
                                <td>{{catalog_item._actors}}</td>
                                <td>{{catalog_item._language}}</td>
                                <td>{{catalog_item._subtitles}}</td>
                                <td>{{catalog_item._dubbed}}</td>
                                <td>{{catalog_item._release_date}}</td>
                                <td>{{catalog_item._runtime}}</td>
                            </form>
                            {% if g.user["_is_admin"] == 1 %}
                            <td class="px-2">
                                <form action="/adminView/modifyCatalogForm" method="post">
                                    <input type="hidden" name="type" value="2">
                                    <button type="submit" href="{{url_for('modify_catalog_form')}}" name="modify_catalog"
                                        value={{catalog_item._id}} class="btn btn-info" style="cursor:pointer">
                                        <i class="far fa-edit"></i>
                                    </button>
                                </form>
                            </td>
                            <td class="pl-0">
                                <form action="/adminView/deleteViewRecords" method="post">
                                    <input type="hidden" name="id" value="{{catalog_item._id}}">
                                    <input type="hidden" name="type" value="2">
                                    <button type="submit" class="btn btn-outline-info" style="cursor: pointer">
                                        <i class="far fa-trash-alt"></i>
                                    </button>
                                </form>
                            </td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="tab-pane" role="tabpanel" id="Albums">
                <form action="/viewCatalog/search" method="POST">
                    <input type="hidden" name="catalog_type" value="4">
                    <div class="my-4">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="" aria-label="album-search"
                                aria-describedby="album-search-btn">
                            <div class="input-group-prepend" id="album-search-btn">
                                <button class="btn btn-outline-info" type="button">Search</button>
                                <button class="btn btn-info" data-toggle="collapse" data-target="#album-search-box"
                                    type="button">
                                    <i class="fas fa-plus"></i>
                                </button>
                            </div>
                        </div>
                        <div id="album-search-box" class="collapse">
                            {% include '/includes/album_search_box.html' %}
                        </div>
                    </div>
                </form>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th></th>
                            <th scope="col"> ID </th>
                            <th scope="col"> Type </th>
                            <th scope="col"> Title </th>
                            <th scope="col"> Artist </th>
                            <th scope="col"> Label </th>
                            <th scope="col"> Release Date </th>
                            <th scope="col"> ASIN </th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for key, catalog_item in dict_of_catalogs["albums"].items() %}
                        <tr>
                            <form action="/viewCatalog/viewDetails" method="POST" id="record-tab">
                                <input type="hidden" name="catalog_type" value="4">
                                <input type="hidden" name="id" value="{{catalog_item._id}}">
                                <td>
                                    <button type="submit" class="btn btn-outline-secondary btn-sm" title="More Information">
                                        <i class="fas fa-info"></i>
                                    </button>
                                </td>
                                <td>{{catalog_item._id}}</td>
                                <td>{{catalog_item._type}}</td>
                                <td>{{catalog_item._title}}</td>
                                <td>{{catalog_item._artist}}</td>
                                <td>{{catalog_item._label}}</td>
                                <td>{{catalog_item._release_date}}</td>
                                <td>{{catalog_item._ASIN}}</td>
                            </form>
                            {% if g.user["_is_admin"] == 1 %}
                            <td class="px-2">
                                <form action="/adminView/modifyCatalogForm" method="post">
                                    <input type="hidden" name="type" value="4">
                                    <button type="submit" href="{{url_for('modify_catalog_form')}}" name="modify_catalog"
                                        value={{catalog_item._id}} class="btn btn-info" style="cursor:pointer">
                                        <i class="far fa-edit"></i>
                                    </button>
                                </form>
                            </td>
                            <td class="pl-0">
                                <form action="/adminView/deleteViewRecords" method="post">
                                    <input type="hidden" name="id" value="{{catalog_item._id}}">
                                    <input type="hidden" name="type" value="4">
                                    <button type="submit" class="btn btn-outline-info" style="cursor: pointer">
                                        <i class="far fa-trash-alt"></i>
                                    </button>
                                </form>
                            </td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="tab-pane" role="tabpanel" id="Magazines">
                <form action="/viewCatalog/search" method="POST">
                    <input type="hidden" name="catalog_type" value="3">
                    <div class="my-4">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="" aria-label="magazine-search"
                                aria-describedby="magazine-search-btn">
                            <div class="input-group-prepend" id="magazine-search-btn">
                                <button class="btn btn-outline-info" type="button">Search</button>
                                <button class="btn btn-info" data-toggle="collapse" data-target="#magazine-search-box"
                                    type="button">
                                    <i class="fas fa-plus"></i>
                                </button>
                            </div>
                        </div>
                        <div id="magazine-search-box" class="collapse">
                            {% include '/includes/magazine_search_box.html' %}
                        </div>
                    </div>
                </form>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th></th>
                            <th scope="col"> ID </th>
                            <th scope="col"> Title </th>
                            <th scope="col"> Publisher </th>
                            <th scope="col"> Year of Publication </th>
                            <th scope="col"> Language </th>
                            <th scope="col"> ISBN10 </th>
                            <th scope="col"> ISBN13 </th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for key, catalog_item in dict_of_catalogs["magazines"].items() %}
                        <tr>
                            <form action="/viewCatalog/viewDetails" method="POST" id="record-tab">
                                <input type="hidden" name="catalog_type" value="3">
                                <input type="hidden" name="id" value="{{catalog_item._id}}">
                                <td>
                                    <button type="submit" class="btn btn-outline-secondary btn-sm" title="More Information">
                                        <i class="fas fa-info"></i>
                                    </button>
                                </td>
                                <td>{{catalog_item._id}}</td>
                                <td>{{catalog_item._title}}</td>
                                <td>{{catalog_item._publisher}}</td>
                                <td>{{catalog_item._year_of_publication}}</td>
                                <td>{{catalog_item._language}}</td>
                                <td>{{catalog_item._ISBN10}}</td>
                                <td>{{catalog_item._ISBN13}}</td>
                            </form>
                            {% if g.user["_is_admin"] == 1 %}
                            <td class="px-2">
                                <form action="/adminView/modifyCatalogForm" method="post">
                                    <input type="hidden" name="type" value="3">
                                    <button type="submit" href="{{url_for('modify_catalog_form')}}" name="modify_catalog"
                                        value={{catalog_item._id}} class="btn btn-info" style="cursor:pointer">
                                        <i class="far fa-edit"></i>
                                    </button>
                                </form>
                            </td>
                            <td class="pl-0">
                                <form action="/adminView/deleteViewRecords" method="post">
                                    <input type="hidden" name="id" value="{{catalog_item._id}}">
                                    <input type="hidden" name="type" value="3">
                                    <button type="submit" class="btn btn-outline-info" style="cursor: pointer">
                                        <i class="far fa-trash-alt"></i>
                                    </button>
                                </form>
                            </td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    function getRecordDetails() {
        document.getElementById("record-tab").submit();
    }
</script>
{% endblock %}